<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='prowrestling.png') }}" type="image/png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('events') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                    <li><a href="{{ url_for('wrestlers') }}">Wrestlers</a></li>
                    <li><a href="{{ url_for('promotions') }}">Promotions</a></li>
                </ul>
            </nav>
        </header>

        <h1>{{ title }}</h1>
        {% if event %}
            {% if event.rating %}
                <div class="big-rating {% if event.rating >= 7 %}rating-green{% elif event.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">Rating: {{ '{:.2f}'.format(event.rating) }}</div>
            {% endif %}
            <p>Event ID: {{ event.event_id }}</p>
            <p>Date: {{ event.date }}</p>
            <p>Stadium: {{ event.stadium_name }}</p>
            <!-- Add more match details as needed -->
        {% else %}
            <p>No event details found.</p>
        {% endif %}

        <h2>Promotions</h2>
        <ul>
            {% for promotion in promotions %}
                 <li>
                    <a href="{{ url_for('promotion_detail', promotion_id=promotion.promotion_id) }}">
                        <div class="info-item">
                            <span>{{ promotion.promotion_name }}</span>
                            {% if promotion.rating %}
                                <span class="rating {% if promotion.rating >= 7 %}rating-green{% elif promotion.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">
                                    Rating: {{ '{:.2f}'.format(promotion.rating) }}
                                </span>
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>

        <h2>Matches for {{ event.event_name }}</h2>
        <ul>
            {% for match in matches %}
                <li>
                    <a href="{{ url_for('match_detail', event_id=match.event_id, match_id=match.match_id) }}">{{ match.match_id }}.  {{ match.type }}</a>
                    <!-- Add more match details as needed -->
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
