<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                </ul>
            </nav>
        </header>


        <h1>{{ title }}</h1>
        <ul>
            {% for event in data %}
                <li>
                    <a href="{{ url_for('event_detail', event_id=event.event_id) }}">
                        <div class="info-item">
                            <span>{{ event.event_name }}</span>
                            {% if event.rating %}
                                <span class="rating {% if event.rating >= 7 %}rating-green{% elif event.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">
                                    Rating: {{ '{:.2f}'.format(event.rating) }}
                                </span>
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
