<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='prowrestling.png') }}" type="image/png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('events') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                    <li><a href="{{ url_for('wrestlers') }}">Wrestlers</a></li>
                    <li><a href="{{ url_for('promotions') }}">Promotions</a></li>
                    <li><a href="{{ url_for('titles') }}">Titles</a></li>
                </ul>
            </nav>
        </header>

        <h1>{{ title }}</h1>

        {% if match %}
            {% if match.rating %}
                <div class="big-rating {% if match.rating >= 7 %}rating-green{% elif match.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">Rating: {{ '{:.2f}'.format(match.rating) }}</div>
            {% endif %}
            <p>Match ID: {{ match.match_id }}</p>
            <p><a href="{{ url_for('event_detail', event_id=match.event_id) }}">Event: {{ match.event_name }}</a></p>
            <p>Type: {{ match.type }}</p>
            {% if match.title_id %}
                <p><a href="{{ url_for('title_detail', title_id=match.title_id) }}">Title: {{ match.title_name }}</a></p>
            {% endif %}
        {% else %}
            <p>No match details found.</p>
        {% endif %}

        <h2>Wrestlers</h2>
        <ul>
            {% for wrestler in wrestlers %}
                 <li>
                    <a href="{{ url_for('wrestler_detail', wrestler_id=wrestler.wrestler_id) }}">
                        <div class="info-item">
                            <span>{{ wrestler.wrestler_name }}</span>
                            {% if wrestler.rating %}
                                <span class="rating {% if wrestler.rating >= 7 %}rating-green{% elif wrestler.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">
                                    Rating: {{ '{:.2f}'.format(wrestler.rating) }}
                                </span>
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>

        <h2>Reviews</h2>
        <ul>
            {% for review in reviews %}
                <li>
                    <div class="review-bar">
                        <span class="rating">Rating: {{ review.rating }}</span>
                        <span class="username">{{ review.username }}</span>
                    </div>
                    <div class="review-text">{{ review.text }}</div>
                </li>
            {% endfor %}
        </ul>

        <h2>Write a Review</h2>
        <form method="post" action="{{ url_for('submit_match_review', event_id=match.event_id, match_id=match.match_id) }}">
            <label for="rating">Rating (1-10):</label>
            <input type="number" name="rating" min="1" max="10" required>

            <label for="text">Review:</label>
            <textarea name="text" rows="4" required></textarea>

            <button type="submit">Submit Review</button>
        </form>
    </div>
</body>
</html>
