<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='prowrestling.png') }}" type="image/png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('events') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                    <li><a href="{{ url_for('wrestlers') }}">Wrestlers</a></li>
                    <li><a href="{{ url_for('promotions') }}">Promotions</a></li>
                </ul>
            </nav>
        </header>

        <h1>{{ title }}</h1>
        <ul>
            {% for match in matches %}
                 <li>
                    <a href="{{ url_for('match_detail', event_id=match.event_id, match_id=match.match_id) }}">
                        <div class="info-item">
                            <span>{{ match.event_name }}:  {{ match.type }}</span>
                            {% if match.rating %}
                                <span class="rating {% if match.rating >= 7 %}rating-green{% elif match.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">
                                    Rating: {{ '{:.2f}'.format(match.rating) }}
                                </span>
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
