<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='prowrestling.png') }}" type="image/png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('events') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                    <li><a href="{{ url_for('wrestlers') }}">Wrestlers</a></li>
                    <li><a href="{{ url_for('promotions') }}">Promotions</a></li>
                </ul>
            </nav>
        </header>

        <h1>{{ title }}</h1>
        <ul>
            {% for promotion in promotions %}
                 <li>
                    <a href="{{ url_for('promotion_detail', promotion_id=promotion.promotion_id) }}">
                        <div class="info-item">
                            <span>{{ promotion.promotion_name }}</span>
                            {% if promotion.rating %}
                                <span class="rating {% if promotion.rating >= 7 %}rating-green{% elif promotion.rating >= 4 %}rating-orange{% else %}rating-red{% endif %}">
                                    Rating: {{ '{:.2f}'.format(promotion.rating) }}
                                </span>
                            {% endif %}
                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
