<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='prowrestling.png') }}" type="image/png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('events') }}">Events</a></li>
                    <li><a href="{{ url_for('matches') }}">Matches</a></li>
                    <li><a href="{{ url_for('wrestlers') }}">Wrestlers</a></li>
                    <li><a href="{{ url_for('promotions') }}">Promotions</a></li>
                    <li><a href="{{ url_for('titles') }}">Titles</a></li>
                </ul>
            </nav>
        </header>

        <h1>{{ title }}</h1>
        {% if t %}
            <p>Name: {{ t.title_name }}</p>
            <p>Type: {{ t.type }}</p>
            <p>Gender: {{ t.gender }}</p>
            <p>Weight Class: {{ t.weight_class }}</p>
        {% else %}
            <p>No title details found.</p>
        {% endif %}

        {% if title_holder %}
            <h2>Title Holder</h2>
            <a href="{{ url_for('wrestler_detail', wrestler_id=title_holder.wrestler_id) }}">
                <p>Wrestler: {{ title_holder.wrestler_name }}</p>
            </a>
            <a href="{{ url_for('match_detail', event_id=title_holder.event_id, match_id=title_holder.match_id) }}">
                <p>Match: {{ title_holder.event_name }}:  {{ title_holder.type }}</p>
            </a>
            <p>Date: {{ title_holder.date }}</p>
        {% endif %}
    </div>
</body>
</html>
